<p id="notice"><%= notice %></p>
<p>

<div style="min-width: 960px; overflow:auto;">
    <table  id="show_table" >
      <thead>
        <tr>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px"><b>Agenda </b></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><b>Description </b></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><b>Time </b></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 70px "><b>Customers </b></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><b>Agenda Sheet </b></td>
        </tr>
      </thead>

        <tr>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px"><%= @visit.Agenda %></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= @visit.Description %></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= @visit.time %></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 70px "><%= @visit.customers %></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= link_to(image_tag("Download.png", :border => 0), @visit.attachment.url)%></td>



 

        </tr>
    </table>
  </div>




  <div style=" min-height: 50px">
  </div>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
